
<aside class="filters">
  <h1 class="h6">Filters</h1>
  <ul class="filters__list">
    <li class="filters__list-item">
       <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#category" aria-expanded="false" aria-controls="category">
        Category
      </button>
    </li>
    <li class="filters__list-item">
       <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#color" aria-expanded="false" aria-controls="color">
        Color
      </button>
    </li>
   <li class="filters__list-item">
       <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#price" aria-expanded="false" aria-controls="price">
        Price
      </button>
    </li>
  </ul>
</aside>